/* ==========================================================================
   Vaporwave theme
   ========================================================================== */
.ynh-user-portal {
    min-height: 100vh;
    background: rgb(205, 118, 255) !important;
    background: -moz-linear-gradient(45deg, rgb(205, 118, 255) 0%, rgb(93, 150, 168) 100%) !important;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(205, 118, 255)), color-stop(100%, rgb(93, 150, 168))) !important;
    background: -webkit-linear-gradient(45deg, rgb(205, 118, 255) 0%, rgb(93, 150, 168) 100%) !important;
    background: -o-linear-gradient(45deg, rgb(205, 118, 255) 0%, rgb(93, 150, 168) 100%) !important;
    background: -ms-linear-gradient(45deg, rgb(205, 118, 255) 0%, rgb(93, 150, 168) 100%) !important;
    background: linear-gradient(45deg, rgb(205, 118, 255) 0%, rgb(93, 150, 168) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C82BFF', endColorstr='#0C76A8', GradientType=1) !important;
    font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive,sans-serif;
}

.messages.danger { background: #c0392b80; }
.messages.warning { background: #e67e2280; }
.messages.success { background: #27ae6080; }
.messages.info { background: #2980b980; }


a, small, span,
.ynh-wrapper.footer a,
.user-menu a,
.user-container.user-container-info span,
input.btn.classic-btn.large-btn {
    color: black !important;
    font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive,sans-serif;
}

form.login-form input {
    color: #222 !important;
}

a:hover,
a:active,
a:focus,
.form-group input,
input.btn.classic-btn.large-btn:hover,
.ynh-wrapper.footer a:hover {
    color: white !important;
}

.ynh-wrapper.footer a:before {
    content: none;
}

.ynh-wrapper.footer nav {
    border-top: 2px dashed #333;
    padding-top: 15px;
}

.ynh-wrapper.footer nav a {
    padding: 5px;
}

input.btn.classic-btn.large-btn[type="submit"]
{
    background: url('/yunohost/sso/assets/themes/vapor/rainbow.gif') !important;
}

.btn,
.ynh-wrapper a,
.btn.large-btn.classic-btn,
.btn.large-btn.validate-btn
{
    background: #ddd;
    border: 5px outset #ddd !important;
}

.btn:hover,
.ynh-wrapper a:hover
{
    border-style: inset !important;
}


.listing-apps li a span,
.listing-apps li a:hover span,
.listing-apps li a:active span,
.listing-apps li a:focus span {
    color: black !important;
}

.listing-apps li {
    border: 10px ridge #ccc;
    box-shadow: none;
    height: 11em;
    width: 11em;
}

.listing-apps li:hover {
    border-style: groove;
}

.listing-apps a {
    height: 2.46em;
    width: 2.46em;
}


/* Disable the app list tile hover effect */
.listing-apps a:hover,
.listing-apps a:focus {
    left: inherit;
    top: inherit;
    box-shadow: none;
    background: #ccc !important;
}
.listing-apps a::before,
.listing-apps a::after
{
    content: none;
}

.app-tile
{
    color: black !important;
    background: #fff !important;
}
.form-group input,
a.btn:hover,
.btn.large-btn {
    color: black !important;
    background: #eee;
}

.form-group label
{
    color: black !important;
    background: #ccc !important;
    border: 5px outset #bbb;
    border-bottom:none;
}

.app-tile:hover:after,
.app-tile:focus:after,
.app-tile:hover:before,
.app-tile:focus:before {
    background: #eee !important;
}


.user-container::before {
    border: none;
    border-radius: 0;
    background: url("/yunohost/sso/assets/themes/vapor/profile.png");
    background-size: contain;
    width: 60px;
    content: "";
    margin-top: 5px;
}
