{
    "additional_headers": {
        "Auth-User": "uid",
        "Email": "mail",
        "Name": "cn",
        "Remote-User": "uid"
    },
    "domains": [
        "example.tld",
        "example.org"
    ],
    "permissions": {
        "core_skipped": {
            "auth_header": false,
            "label": "Core permissions - skipped",
            "public": true,
            "show_tile": false,
            "uris": [
                "example.tld/yunohost/admin",
                "example.tld/yunohost/api",
                "re:^[^/]*/%.well%-known/ynh%-diagnosis/.*$",
                "re:^[^/]*/%.well%-known/acme%-challenge/.*$",
                "re:^[^/]*/%.well%-known/autoconfig/mail/config%-v1%.1%.xml.*$"
            ],
            "users": []
        },
        "myapp.admin": {
            "auth_header": true,
            "label": "MyApp (admin)",
            "public": false,
            "show_tile": false,
            "uris": [
               "example.tld/myapp/admin"
            ],
            "users": [
                "JaneDoe"
            ]
        },
        "myapp.api": {
            "auth_header": false,
            "label": "MyApp (api)",
            "public": true,
            "show_tile": false,
            "uris": [
                "re:domain%.tld/%.well%-known/.*"
            ],
            "users": []
        },
        "myapp.main": {
            "auth_header": true,
            "label": "MyApp",
            "public": true,
            "show_tile": true,
            "uris": [
                "example.tld/myapp"
            ],
            "users": [
                "JaneDoe",
                "JohnDoe"
            ]
        }
    },
    "portal_domain": "example.tld",
    "portal_path": "/yunohost/sso/",
    "redirected_regex": {
        "example.tld/yunohost[\\/]?$": "https://example.tld/yunohost/sso/"
    },
    "redirected_urls": {}
}