{
   "portal_scheme": "https",
   "portal_domain": "example.com",
   "portal_path": "/ssowat/",
   "domains": [
        "example.com",
        "example.org"
    ],
   "skipped_urls": [
       "example.com/megusta",
       "example.org/somuchwin"
    ],
   "unprotected_urls": ["example.com/yunoprotect"],
   "additional_headers": {
       "Auth-User": "uid",
       "Remote-User": "uid",
       "Email": "mail",
       "Name": "cn"
   },
   "apps": {
       "app_id": {
           "id": "app_id",
           "name": "App Name",
           "url": "example.com/app",
           "description": "The app description"
       },
       "second_app": {
           "id": "second_app",
           "name": "Another App",
           "url": "example.org/that"
       }
   },
   "users": {
       "myuser": [
          "app_id",
          "second_app"
       ],
       "myuser2": [
          "app_id"
       ]
   }
}
