/* ==========================================================================
   Sommaire

   1 = col
   2 = Sidebar Left
   3 = Sidebar Right
   4 = Col 2
   5 = Col 3
   6 = Col 4
   ========================================================================== */

.col {
  letter-spacing: -5px; /*fix bug ff PC*/
}

.col > * {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.colMarge > * {
  margin-left: 1%;
}

.colNomarge > * {
  margin-left: 0;
}

/* ==========================================================================
   2 = Sidebar left
   ========================================================================== */

.colSidebarLeft > *:first-child {
  width:31%;
  margin-left:0;
}
  .colSidebarLeft > *:first-child + * { width:68%; }

/* ==========================================================================
   3 = Sidebar right
   ========================================================================== */

.colSidebarRight > *:first-child {
  width:68%;
  margin-left:0;
}
  .colSidebarRight > *:first-child + * { width:31%; }

/* ==========================================================================
   4 = col 2
   ========================================================================== */

.col2 > * {
  width: 49.5%!important;
  margin-bottom: 1%;
}

  .col2 > *:nth-child(2n+1) {
    margin-left: 0;
  }

/* ==========================================================================
   5 = col 3
   ========================================================================== */

.col3 > * {
  width: 32.65%;
  margin-bottom: 1%;
}

  .col3 > *:nth-child(3n+1) {
    margin-left: 0;
  }

/* ==========================================================================
   6 = col 4
   ========================================================================== */

.col4 > * {
  width: 24.25%;
  margin-bottom: 1%;
}

  .col4 > *:nth-child(4n+1) {
    margin-left: 0;
  }
