/* ==========================================================================
   Sommaire
   1 = Global
   2 = Apps
   3 = User
   4 = Form
   5 = Colors
   ========================================================================== */

/* ==========================================================================
   1 = Global
   ========================================================================== */

body {
  background: #41444f;
  font-family: 'source_sans_proregular';
  overflow-y: scroll;
}


/* Layout */

.overlay {
  padding: 2%;
}

.inner {
  max-width: 50em;
  margin: auto;
}

.wrapper {
  width: 90%;
  margin: 2% 5%;
  z-index: 10;
}
.wrapper:before,
.wrapper:after {content: " ";display: table;}
.wrapper:after {clear: both;}

.logo {
  text-align: center;
  margin-bottom: 0;
  opacity: 0.7;
}

.logo img {
  margin-top: 4%;
  width: 4em;
}

.logged .logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 0;
  opacity: 0.7;
}
  .logged .logo img {
    margin-top: 0;
    width: 2.5em;
    padding: 0.3em;
    border-radius: 5px;
  }

.ynh-panel-active .logo {
  display: none;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.messages {
  text-align: center;
  max-width: 21em;
  margin: 2% auto 1em auto;
  padding: 1.5em;
}

.logged .messages {
  max-width: none;
  margin: 2% 5%;
  padding: 1.5em 15%;
}


/* Fonts & Colors */

a { text-decoration: none; }

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'source_sans_probold';
  font-weight: normal;
}

.cwhite {
  color: #fff;
}

select, 
.form-text, 
textarea {
  border: 0;
  font-family: 'source_sans_proregular';
}


.sourcePro {
  font-family: 'source_sans_proregular';
}

.sourceProBold {
  font-family: 'source_sans_probold';
}

.sourceProBlack {
  font-family: 'SourceSansPro-Black';
}


/* Icons */

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'ynh_ssowat';
  font-size: 1em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: '\e801'; }
.icon-lock:before { content: '\e800'; }
.icon-connexion:before { content: '\e802'; }
.icon-pencil:before { content: '\e804'; }
.icon-trash:before { content: '\e80c'; }
.icon-angle-left:before { content: '\e803'; }


/* ==========================================================================
   2 = Apps
   ========================================================================== */

.apps { margin: 4% 5%; }

.first-letter:before {
  content: attr(data-first-letter);
}

.listing-apps li {
  margin: 0 0 1em 1em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 
              -2px -2px 3px 0 rgba(0, 0, 0, 0.7) inset;
}

.listing-apps a {
  display: block;
  position: relative;
  padding: 0.2em;
  top: 0;
  left: 0;
  width: 2.7em;
  height: 2.7em;
  background: #666;
  color: #fff;
  font-size: 4em;
          transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
  .listing-apps a:hover,
  .listing-apps a:focus {
    left: -10px;
    top: -10px;
    box-shadow: none;
  }
  .listing-apps a:hover:before,
  .listing-apps a:focus:before {
    height: 10px;
  }
  .listing-apps a:hover:after,
  .listing-apps a:focus:after {
    width: 10px;
  }

  .listing-apps a:hover:after, 
  .listing-apps a:focus:after,
  .listing-apps a:hover:before,
  .listing-apps a:focus:before {
    background: #333;
  }

  .listing-apps a:after,
  .listing-apps a:before {
    content: "";
    position: absolute;
            transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }

  .listing-apps a:before {
    width: 100%;
    height: 0;
    left: 5px;
    top: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
  }

  .listing-apps a:after {
    width: 0;
    height: 100%;
    left: 100%;
    top: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
            transform: skew(0deg, 45deg);
    -webkit-transform: skew(0deg, 45deg);
  }

.listing-apps span {
  display: block;
  margin: -1.2em 0 0 0.2em;
}    
  .listing-apps .first-letter { margin: 0; }
  .listing-apps span + span { font-size: 0.3em; }

@media screen and (max-width: 450px) {
  .apps {margin: 10% 5%;}
  .listing-apps a {font-size: 3em;}
  .listing-apps span + span { font-size: 0.32em; }
  .listing-apps a:hover,
  .listing-apps a:focus {left: -5px;top: -5px;}
  .listing-apps a:hover:before,
  .listing-apps a:focus:before {height: 5px;}
  .listing-apps a:hover:after,
  .listing-apps a:focus:after {width: 5px;}
  .listing-apps a:before {left: 3px;box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);}
  .listing-apps a:after {top: 3px;box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);}
}
@media screen and (max-width: 350px) {
  .listing-apps a {
    width: 2.5em;
    height: 2.5em;
    font-size: 2.8em;
  }
}


/* ==========================================================================
   3 = User
   ========================================================================== */

.user-container {
  display:block;
  position: relative;
  max-width: 320px;
  padding: 0.4em 1em;
  color: #fff;
}

.user-container-edit:after,
.user-container-password:after {
  content: '\e803';
  font-family: 'ynh_ssowat';
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 50%;
  left: -16px;
  z-index: 0;
  margin-top: -0.75em;
  font-size: 2em;
  font-weight: normal;
  color: #b4b4b4;
  opacity: 0;
          transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
.user-container-edit:hover:after,
.user-container-password:hover:after {
  left: -20px;
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .user-container-edit:after,
  .user-container-password:after {left: -10px;}
  .user-container-edit:hover:after,
  .user-container-password:hover:after {left: -14px;}
}

.user-container:before {
  display: block;
  position: relative;
  z-index: 1;
  float: left;
  margin-right: 10px;
  content: '\e801';
  display: block;
  font-family: 'ynh_ssowat';
  font-size: 4em;
  text-align: center;
  border: 3px solid #fff;
  width: 1em;
  height: 1em;
  border-radius: 90px;
  background: #b4b4b4;
  color: #dedede;
  overflow: hidden;
          transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
.user-container:hover:before {
  color: #fff;
}

.user-container .user-username {
  font-size: 1.5em;
  margin: 0;
}

.user-container .user-fullname {
  font-size: 1em;
  font-family: 'source_sans_proregular';
  display: block;
  margin-top: -0.6em;
}


.user-container-info .user-username:after {
  content: '\e804';
  font-family: 'ynh_ssowat';
  color: #b4b4b4;
  display: inline-block;vertical-align: text-top;
  font-size: 0.8em;
  width: 1em;
  height: 1em;
  margin-left: .5em;
  opacity: 0;
          transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
.user-container-info:hover  .user-username:after {opacity: 1;}

.user-container .user-mail {
  color: #999;
  font-size: 0.9em;
  display: block;
  margin-top: -0.2em;
}


.user-menu {
  float: right;
}
  .user-menu a {
    color: #999;
    display: block;
    padding: 1.25em 1em;
    position: relative;
    z-index: 1;
          transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  }
    .user-menu a:hover,
    .user-menu a:focus {
      color: #fff;
    }

@media screen and (max-width: 480px) {
  .user-menu {
    float: none;
  }
}



/* ==========================================================================
   4 = Forms
   ========================================================================== */


[type="submit"],
[type="password"],
[type="email"],
[type="text"] {
  /* <3 Apple */
  -webkit-appearance: none;
  -webkit-border-radius:0;
}

/* Extend artichaut-buttons.css */
.link-btn { background: none;}
  .link-btn:hover, 
  .link-btn:focus {background: #41444f;text-decoration: underline;}


.form-text {
  padding: 0.8em;
  width: 100%;
}


.form-section {
  display: inline-block;
  vertical-align: top;
  width: 47%;
}
.form-section + .form-section {margin-left: 5%;}

@media screen and (max-width: 768px) {
  .form-section {width: 100%;}
  .form-section + .form-section {margin-left: 0;}
}

label {
  display: inline-block;
  padding: 0.3em 1em;
  background: #30333b;
  color: #fff;
  font-size: 1.2em;
  margin-top: 1em;
  font-family: 'source_sans_probold';
  font-weight: normal;
}
label {cursor: pointer;}

label + .help-link {
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 1.2em;
  background: #41444f;
  color: #fff;
  font-weight: bold;
          transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
label + .help-link:hover {background: #30333b;}

.btn {
  cursor: pointer;
          transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.btn-group {
  margin: 4em 0;
  text-align: right;
}

.form-group {
  background: none;
  margin-bottom: 2em;
}

.form-text {
  border: 0;
  background: #797b83;
  color: #fff;
  padding: 0.8em;
  margin-bottom: 0.3em;
  display: block;
  position: relative;z-index: 1; /* prevent strange label overlap */
          transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
.form-test:-moz-placeholder{color:#ccc;}
.form-text::-moz-placeholder{color:#ccc;}
.form-text:-ms-input-placeholder{color:#ccc;}
.form-text::-webkit-input-placeholder{color:#ccc;}
:empty:invalid {box-shadow: none;}

.form-text:last-child {margin-bottom:0;}

.form-text:hover,
.form-text:focus {
  background-color: #5d5f68;
}

.form-text:disabled { color: #ccc; }
.form-text:disabled:hover {background-color:rgba(255, 255, 255, 0.3);}
input:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  label,
  label + .help-link {padding: 0.3em 0.8em;}
  .form-text {padding: 0.8em;}
  .form-group .btn {padding: 0.5em 0.8em;}
}

/* Login form */

.login-form {
  max-width: 21em;
  margin: 0 auto;
}

.login-form .btn {
  width: 100%; 
  padding: 0.8em 1em;
}

.login-form .form-group {
  position: relative;
  margin-bottom: 1em;
  background: #fff;
}

  .login-form label {
    display: block;
    min-width: 1em;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }

  .login-form label:before {
    background: #eee;
    color: #666;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 2.5em;
    height: 100%;
    line-height: 3em;
    text-align: center;
  }

  .login-form .form-text {
    padding: 0.8em 0.8em 0.8em 3em;
    width: 100%;
    background: #fff;
    color: #41444f;
  }
  .login-form .form-test:-moz-placeholder{color:#999;}
  .login-form .form-text::-moz-placeholder{color:#999;}
  .login-form .form-text:-ms-input-placeholder{color:#999;}
  .login-form .form-text::-webkit-input-placeholder{color:#999;}


/* Edit form*/

.form-edit .form-group .btn:before {
  content:"+";
  display: inline-block;
  padding-right: 0.75em;
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  .form-edit .btn-group {
    float: right;
  }
  .form-edit .btn-group + .btn-group {
    float: left;
  }
}

/* ==========================================================================
   5 = Colors
   ========================================================================== */

.listing-apps .purplebg {
    background: #9B59B6!important;
}
.purplebg:hover:after, 
.purplebg:focus:after, 
.purplebg:hover:before, 
.purplebg:focus:before {
    background: #532C64!important;
}
.yellowbg {
    background: #F1C40F!important;
}
.yellowbg:hover:after, 
.yellowbg:focus:after, 
.yellowbg:hover:before, 
.yellowbg:focus:before {
    background: #796307!important;
}
.pinkbg {
    background: #D66D92!important;
}
.pinkbg:hover:after, 
.pinkbg:focus:after, 
.pinkbg:hover:before, 
.pinkbg:focus:before {
    background: #992B52!important;
}
.orangebg {
    background: #F39C12!important;
}
.orangebg:hover:after, 
.orangebg:focus:after, 
.orangebg:hover:before, 
.orangebg:focus:before {
    background: #7F5006!important;
}
.redbg {
    background: #E74C3C!important;
}
.redbg:hover:after, 
.redbg:focus:after, 
.redbg:hover:before, 
.redbg:focus:before {
    background: #921E12!important;
}
.turquoisebg {
    background: #1ABC9C!important;
}
.turquoisebg:hover:after, 
.turquoisebg:focus:after, 
.turquoisebg:hover:before, 
.turquoisebg:focus:before {
    background: #0B4C3F!important;
}
.bluebg {
    background: #3498DB!important;
}
.bluebg:hover:after, 
.bluebg:focus:after, 
.bluebg:hover:before, 
.bluebg:focus:before {
    background: #16527A!important;
}
.greenbg {
    background: #2ECC71!important;
}
.greenbg:hover:after, 
.greenbg:focus:after, 
.greenbg:hover:before, 
.greenbg:focus:before {
    background: #176437!important;
}
.darkbluebg {
    background: #34495E!important;
}
.darkbluebg:hover:after, 
.darkbluebg:focus:after, 
.darkbluebg:hover:before, 
.darkbluebg:focus:before {
    background: #07090C!important;
}
.lightbluebg {
    background: #6A93D4!important;
}
.lightbluebg:hover:after, 
.lightbluebg:focus:after, 
.lightbluebg:hover:before, 
.lightbluebg:focus:before {
    background: #2B5394!important;
}
.lightpinkbg {
    background: #F76F87!important;
}
.lightpinkbg:hover:after, 
.lightpinkbg:focus:after, 
.lightpinkbg:hover:before, 
.lightpinkbg:focus:before {
    background: #DA0C31!important;
}
.lightyellow {
    background: #FFC973!important;
}
.lightyellow:hover:after, 
.lightyellow:focus:after, 
.lightyellow:hover:before, 
.lightyellow:focus:before {
    background: #F39500!important;
}
.lightgreen {
    background: #B5F36D!important;
}
.lightgreen:hover:after, 
.lightgreen:focus:after, 
.lightgreen:hover:before, 
.lightgreen:focus:before {
    background: #77CF11!important;
}
.purpledarkbg {
    background: #8E44AD!important;
}
.purpledarkbg:hover:after, 
.purpledarkbg:focus:after, 
.purpledarkbg:hover:before, 
.purpledarkbg:focus:before {
    background: #432051!important;
}



